

#header {
  height: 10%;
  width: 100%;
  background-color: green;
  position: fixed;
  margin-top: 0px;
  opacity: 0.5;
  text-align: center;
  color:white;
  clear: both;
  display: block; 
}

#footer {
  height: 5%;
  width: 100%;
  background-color: green;
  position: fixed;
  bottom: 0px;
  opacity: 0.5;
  text-align:  center;
  color: white;
  clear: both;
}

.column {
  width:25%;
  height: 70%;
  position: relative;
  display: inline-block;
  float: left;
  margin: 10% 2% 0% 5%;
  background-color: green;
  opacity: 0.5;
  text-align: center;
  color: white;
}

ul.sample-song-list {
  text-align: left;
}


