<!-- this app will be simple, it is meant to show you the most listened to tracks in your library -->



<span id="header">  <h3>WELCOME TO YOUR SPOTIFY ACCOUNT </h3></span>
<div id="login"></div>
<span id="footer"> This will have project information in</span>
<div class="column">
  <div id="mostPlayed">
    <h3> This will have the most played tracks </h3>
    <ul class="sample-song-list">
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
      </ul>
  </div>
</div>
<div class="column">
  <div id="mostRecent">
    <h3> This will have the most recent played tracks </h3>
    <ul class="sample-song-list">
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
        <li>sample song</li>
      </ul>
  </div>
</div>
<div class="column">
  <div id="leastPlayed">
    <h3>This will have the least played</h3>
    <ul class="sample-song-list">
      <li>sample song</li>
      <li>sample song</li>
      <li>sample song</li>
      <li>sample song</li>
      <li>sample song</li>
      <li>sample song</li>
    </ul>
  </div>
</div>
