<!-- this app will be simple, it is meant to show you the most listened to tracks in your library -->
<div class="container">
  <div class="row">
    <span class="col s11 green accent-3">  <h3 class="center-align"> Hello <%= @current_username %> </h3></span>
    <div id="login"></div>
  </div>
  <div class="row">
    <div class="col s3 card large green accent-3">
      <div id="mostPlayed">
        <h4 class="center-align">Most Played </h4>
        <ul class="sample-song-list">
          <% @saved_tracks["items"].each do |item| %>
           <li>
           <div class="divider"></div>
            <%= item["track"]["name"] %>  
           </li> 
           <li> 
             <%= item["track"]["artists"][0]["name"] %> 
             <div class="divider">
           </li>
          <% end %>
        </ul>      
      </div>
    </div>
    <div class="col s3 card large green accent-3 offset-s1 center-align">
      <div id="mostRecent">
        <h4 class="center-align"> Most Recent </h4>
        <div class="divider"></div>
        <ul class="sample-song-list">
            <li>sample song</li>
            <li>sample song</li>
            <li>sample song</li>
            <li>sample song</li>
            <li>sample song</li>
            <li>sample song</li>
          </ul>
      </div>
    </div>
    <div class="col s3 card large offset-s1 green accent-3 center-align">
      <div id="leastPlayed">
        <h4 class="center-align">Least Played</h4>
        <div class="divider"> </div>
        <ul class="sample-song-list">
          <li>sample song</li>
          <li>sample song</li>
          <li>sample song</li>
          <li>sample song</li>
          <li>sample song</li>
          <li>sample song</li>
        </ul>
      </div>
    </div>
  </div>
</div>