<!-- this app will be simple, it is meant to show you the most listened to tracks in your library -->

<div class="green accent-3 large card valign-wrapper">
  <div class="row">
    <a href="/login" class="waves-effect waves-light btn-large valign offset-s6">  Login with Spotify </a>
  </div>
</div>