<!-- this app will be simple, it is meant to show you the most listened to tracks in your library -->

<div id="index-background" class="green accent-3 valign-wrapper">
  <div class="row">
    <a id="login-button" href="/login" class="waves-effect waves-light btn-large valign offset-s6">  Login with Spotify </a>
  </div>
</div>
